@import "tailwindcss";

@theme {
    --color-darkblue: #121421;
    --color-grey: #919CC9;
    --color-pastel-cyan: #26CCDF;
    --color-pastel-green: #26DF95;
    --color-pastel-blue: #2670DF;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}