@import "tailwindcss";

@theme {
    --color-hitam: #121421;
    --color-putih: #FFFFFF;
    --color-description: #919CC9;
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}